
$COLOR_ACCENT_PRIMARY: #f93737;
$COLOR_ACCENT_SECONDARY: #fbe122;
$COLOR_ACCENT_SECONDARY_DARK: #e8a034;

$COLOR_WHITE: #ffffff;
$COLOR_BLACK: #000000;

$COLOR_TEXT_DARK: #2c2d2c;
$COLOR_TEXT_MEDIUM: #606060;
$COLOR_TEXT_LIGHT: #a0a0a0;

$COLOR_BASE_DARK: #2c2d2c;
$COLOR_BASE_LIGHT: #f9f6e7;
