html {
    font-size: $FONT_SIZE_DEFAULT;
    color: $COLOR_TEXT_DARK;
    background-color: $COLOR_WHITE;
    font-family: $FONT_SANS;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
