.pageGrid {
    display: grid;
    grid-template-columns: 25%, 50%, 25%;
    grid-template-rows: 100px, 100fr;
}

.pageGrid__header {

}

.pageGrid__sidebarLeft {

}

.pageGrid__body {
    
}

.pageGrid__sidebarRight {

}
