.pageGrid {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3rem auto;
    align-items: start;
    padding: 0 2rem;
    box-sizing: border-box;
}

.pageGrid__header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid red;
    & > * {
        margin: 0 1em;
    }
}

.pageGrid__sidebarLeft {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pageGrid__body {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    overflow-y: auto;
    padding-top: 2em;
}

