.fragment {
    font-family: $FONT_SERIF;
    line-height: $LINE_HEIGHT_DEFAULT;
}

.fragment--noContent {
    // opacity: 0.5;
}

.fragment__header {
    background-color: $COLOR_BASE_DARK;
    padding: 3rem;
}

.fragment__header__title {
    font-family: $FONT_SERIF_SC;
    font-weight: 700;
    color: $COLOR_ACCENT_PRIMARY;
    letter-spacing: 2.5px;
    line-height: 1.1;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
}

.fragment__header__title__mainTitle {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 42px;
}

.fragment__header__title__subtitle {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 24px;
}

.fragment__header__title__link {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    font-family: $FONT_SANS_SC;
    font-size: $FONT_SIZE_DEFAULT;
    letter-spacing: 0;
    text-align: right;
    font-weight: 400;
    & > a {
        color: $COLOR_TEXT_LIGHT;
        text-decoration: none;
        margin-right: 1.25em;
        margin-top: 0.25em;
        position: relative;
        &:hover {
            color: $COLOR_ACCENT_SECONDARY_DARK;
            border-bottom: 1px solid $COLOR_ACCENT_PRIMARY;
        }
        &::after {
            content: '➝';
            position: absolute;
            display: block;
            right: -1.25em;
            top: 0.15em;
        }
    }
}

.fragment__header__byline {
    color: $COLOR_WHITE;
    font-family: $FONT_SANS_SC;
}

.fragment__fragmentList {
    margin: 2rem;
}

.fragment__fragmentList--empty {
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $COLOR_BASE_LIGHT;
}

.fragment__fragmentList__item {
    font-family: $FONT_SERIF;
    line-height: 1.2;
}

.fragment__fragmentList__item__content {
    & p,
    & ul,
    & blockquote {
        margin-bottom: 1em;
    }
    // & * + p {
    //     margin-top: 1em;
    // }

    // & * + blockquote {
    //     margin-top: 2em;
    // }

    & ul {
        list-style-type: disc;
        margin-left: 1em;
    }

    // & * + ul {
    //     margin-top: 1em;
    // }

    // & * + li {
    //     margin-top: 0.5em;
    // }

    & h1, & h2, & h3 {
        font-family: $FONT_SERIF_SC;
        font-weight: 800;
        margin: 1.5rem 0;
    }
}

.fragment__fragmentList__item__tags {
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-family: $FONT_SANS_SC;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: $FONT_SIZE_SMALL;

    & > * {
        margin: 0 1em;
    }
}
